{% extends 'base.html' %}

{% block head %}
<title>Professor Report</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Professor Report: {{ professor.name }}</h1>
    <p>Email: {{ professor.email }}</p>
    <p>Department: {{ professor.department }}</p>

    <h2>{{ professor.name }}'s Assignments</h2>
    <table>
        <tr>
            <th>Assignment Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Grade</th>
        </tr>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.name }}</td>
            <td>{{ assignment.description }}</td>
            <td>
                {% if 'due_date' in assignment %}
                {{ assignment.due_date.split(' ')[0] }} {# Extract date before the time part #}
                {% else %}
                Not Specified
                {% endif %}
            </td>
            <td>
                {% if assignment.get('grade', -1) < 0 %} In Progress {% else %} {{ assignment.grade | round(2) }}% {} {%
                    endif %} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}