{% extends 'base.html' %}

{% block head %}
<title>Assignment Assigner</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1>Update Assignment</h1>

    <form action="/update/assignment/{{assignment.id}}" method="POST">
        <input type="hidden" name="action" value="addAssignment">
        <label for="assignmentName">Name: </label>
        <input required type="text" label name="assignmentName" id="assignmentName">
        <label for="assignmentDescription">Description: </label>
        <input required type="text" label name="assignmentDescription" id="assignmentDescription">
        <label for="assignmentDueDate">Due Date: </label>
        <input required type="date" label name="assignmentDueDate" id="assignmentDueDate">
        <label for="assignmentProfessorId">Assigned By: </label>
        <select name="assignmentProfessorId" id="assignmentProfessorId">
            {% for professor in professors %}
            <option value="{{professor.id}}">{{professor.name}}</option>
            {% endfor %}
        </select>
        <label for="assignmentStudentId">Assigned To: </label>
        <select name="assignmentStudentId" id="assignmentStudentId">
            {% for student in students %}
            <option value="{{student.id}}">{{student.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Update">
    </form>
</div>

{% endblock %}